* {
    box-sizing: border-box;
}

.rec {
    background-color: black;
    color: white;
    width: 200px;
    margin: 50px;
}

.result {
    color: white;
}

.table {
    color: white;
}

.backlight {
    background-color: #f46542;
}

table, td {
    border: 1px solid white;
}

button {
    width: 180px;
}

input {
    width: 180px;
}

body {
    background-color: #000;
    transition: all .3s;
}

@media (max-width: 1200px) {
    body {
        background-color: #888;
    }
}

@media (max-width: 800px) {
    body {
        background-color: #800;
    }
}

@media (max-width: 600px) {
    body {
        background-color: #008;
    }
}
